:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(31, 42, 60, 0.5);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


body {
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.aceptar,.InputsCliente {
  border-radius: 8px;
  border: 0.1px solid rgba(255, 255, 255, 0.171);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  margin: 10px;
  transition: all 1s;
}

.header {
  display: flex;
  gap: 3px;
  position: relative;
  justify-content:center;
}

.opciones {
  cursor: pointer;
  padding: 13px;
  border-radius: 12px;
  font-size: 22px;  
  flex-wrap: wrap;
  text-align: center;
  margin: 10px;
}

.icono{
  fill: rgb(153, 153, 153);
  width: 40px;
}

.perfil{
  fill:#0f61a5;
  width: 35px;
}

.buscador{
  display: flex;
  margin-top: 30px;
}

.buscador input{
  position: relative;
  height: 22px;
}

.buscador svg{
  position:absolute;
  width: 30px;
  top: 45px;
  fill: rgba(206, 205, 205, 0.171);
  transition: all 1s;
  cursor: pointer;
  margin-left: 210px;
}

.buscador svg:hover{
  fill: rgb(3, 92, 15);
  transform: scale(1.1);
}

.opciones:hover {
  background-color: #9dc2cc2a;
}



.divOp{
  position: fixed;
  display: block;
  align-items: center;
  margin-top: 15px;
  transition: wrap 1s;
  z-index: 100;
}

li {
  display: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 12px;
  margin: 5px;
  transition: all 0.6s;
  list-style-type: none;
  background-color: #444f52;
}

li:hover {
  background-color: #0e4d7d;
}

.opciones:focus-within li {
  display: block;
}

.opciones:focus-within,.opciones:focus-within .perfil {
  background-color: #0e4d7d;
  fill: white;
}

.InputsCliente{
  background-color: #1a1a1a;
}

button{
  background-color: #0e4d7d;
}

button:hover{
  border-color: #029ab9;
  transform: scale(1.1);
}
.InputsCliente:hover {
  border-color: #0297b9;
}

.contenedorInp{
  margin: 20px;
  text-align: center;
}

.contenedorInp svg{
  margin-left: 400px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  background-color: #1c1e24;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background-color: #61dafb;
  color: #282c34;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

tbody tr {
  border-bottom: 1px solid #555;
}

tbody tr:last-of-type {
  border-bottom: none;
}

tbody tr:hover {
  background-color: #383e49;
}

td {
  font-size: 16px;
}

@media(width<700px){
  .opciones{
    height: 30px;
  }
  .icono{
    width: 30px;
  }
  .perfil{
    width: 30px;
  }
  .header{
    text-align: start;
  }
  .buscador{
    display: flex;
    margin-top: 60px;
    position: absolute;
  }

  .buscador svg{
    position:absolute;
    width: 30px;
    top: 15px;
    fill: rgba(206, 205, 205, 0.171);
    transition: all 1s;
    cursor: pointer;
    margin-left: 210px;
  }
  
  table{
    margin-top: 60px;
  }
}
